<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="field mb-10">
        <%= form.text_field :name, id: :project_name, placeholder: 'New Project Name', class: 'form-control' %>
      </div>

      <div class="field mb-10">
        <%= form.text_field :github_name, id: :project_github_name, placeholder: 'Github Repo Name', class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit "Submit", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>
