<p id="notice"><%= notice %></p>

<h1>Projects</h1>


<div class="projects">
  <% @projects.each do |project| %>
    <div class="project">
      <h4 class="project_card_title"><%= project.name%></h4>
      <%= link_to 'See Updates', project, class: 'btn btn-block btn-primary' %>
      <%= link_to 'Edit', edit_project_path(project) , class: 'btn btn-block btn-warning' %>
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger'  %>
    </div>
  <% end %>
</div>

<br>

<%= link_to ' + New Project', new_project_path, class: 'btn btn-success' %>
