<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %>
</h1>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<div class="commits-card card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item table-title">Updates</li>
    <% getCommits(@project.github_name).each do |commit| %>
      <li class="list-group-item item">
        <span class="time-phrase col-sm-2">
          <%= distance_of_time_in_words(commit.commit.author.date, Time.now) %> ago
        </span>
        <span class="col-sm-10">
          <%= commit.commit.message %>
        </span>
      </li>
    <% end %>
  </ul>
</div>


